.blurBall{
    position: absolute;
    z-index: -100;
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
    filter: blur(35vh);
}

.greenOne{
    top: -45vh;
    right: -70vh;
    background-color: #5B9851;
}

.blueOne{
    top: 30vh;
    left: -50vh;
    background-color: #476A99;
}

.greenTwo{
    background-color: #5B9851;
    top: 140vh;
    right: -70vh;
}

.blueTwo{
    background-color: #476A99;
    top: 250vh;
    left: -50vh;
}

.greenThree{
    background-color: #5B9851;
    top: 360vh;
    right: -70vh;
}
