html,body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

p{
    font-family: "Roboto";
    font-size: 18px;
    padding: 0;
    margin: 0;
}

h1{
    font-family: "Outfit";
    font-weight: Bold;
    font-size: 80px;
    padding: 0;
    margin: 0;
    line-height: 100%;
}

@media (max-width: 400px){
    body{
        position: relative;
    }
}