main{
    padding: 10vh 12%;
    display: flex;
    justify-content: space-between;
}

.heroText{
    display: flex;
    flex-direction: column;
    width: 49%;
    gap: 2vh;
}

main img{
    width: 49%;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.preHead{
    font-family: "Outfit";
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    color: #696969;
    margin-bottom: 1rem;
}

main h1{
    margin-bottom: 1rem;
}

.heroText p{
    width: 100%;
    color: #343434;
    margin-bottom: 2vh;
}

h1 span{
    color: #66B559;
}

.b1, .b2{
    font-family: "Outfit";
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    height: 7vh;
    width: 30%;
    border-radius: 4vh;
    border-width: 0;
}

.b1{
    background-color: #66B559;
}

.b2{
    background-color: #5F90D2;
    margin-left: 10%;
}

.b1:hover, .b2:hover{
    opacity: 0.7;
    cursor: pointer;
}

.b1:active, .b2:active{
    opacity: 0.4;
}

@media (max-width: 1024px){
    .preHead{
        font-size: 1.2rem;
    }
    main h1{
        font-size: 6rem;
    }
    .heroText p{
        font-size: 1.4rem;
    }
    .b1, .b2{
        font-size: 1.1rem;
    }
}

@media (max-width: 768px){
    body{
        position: relative;
    }
    main{
        flex-direction: column;
    }
    .heroText, main img{
        width: 100%;
        align-items: center;
    }
    .preHead, main h1, .heroText p{
        text-align: center;
    }
    .preHead{
        font-size: 1rem;
    }
    main h1{
        font-size: 8rem;
        margin-bottom: 5vh;
    }
    .heroText p{
        font-size: 1.3rem;
        width: 80%;
    }
    .b1, .b2{
        height: 7vh;
        width: 20%;
    }
    .heroButtons{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding: 5vh 50%;
    }
}

@media (max-width: 425px){
    main h1{
        font-size: 5rem;
        margin-bottom: 3vh;
    }
    .heroText p{
        font-size: 1.1rem;
        width: 90%;
        color: black;
    }
    .b1, .b2{
        font-size: 1rem;
        width: 40%;
    }
}

@media (max-width: 375px){
    main{
        padding: 6vh 10%;
    }
    .preHead{
        margin-bottom: 0.3rem;
    }
    main h1{
        font-size: 4rem;
        margin-bottom: 0.7rem;
    }
    .heroText p{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .b1, .b2{
        font-size: 0.9rem;
        width: 35%;
    }
    .heroButtons{
        padding: 3vh 50% 5vh;
    }
}