main{
    padding: 10vh 25vh;
    display: flex;
    justify-content: space-between;
}

.heroText{
    display: flex;
    flex-direction: column;
    width: 80vh;
    gap: 2vh;
}

main img{
    width: 80vh;
    margin: 0;
    padding: 0;
}

.preHead{
    font-family: "Outfit";
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #696969;
    margin-bottom: 10px;
}

main h1{
    margin-bottom: 10px;
}

.heroText p{
    width: 70vh;
    color: #343434;
    margin-bottom: 10px;
}

h1 span{
    color: #66B559;
}

.b1, .b2{
    font-family: "Outfit";
    font-size: 14px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 7vh;
    width: 25vh;
    border-radius: 10vh;
    border-width: 0px;
}

.b1{
    background-color: #66B559;
}

.b2{
    background-color: #5F90D2;
    margin-left: 10vh;
}

.b1:hover, .b2:hover{
    opacity: 0.7;
    cursor: pointer;
}

.b1:active, .b2:active{
    opacity: 0.4;
}

@media (max-width: 650px){
    main{
        padding: 10vh 50px;
        flex-direction: column;
        align-items: center;
    }
    .heroText{
        width: 100%;
    }
    main img{
        width: 90%;
        margin-top: 10px;
    }
    .heroText p{
        width: 90%;
    }
    .heroButtons{
        margin-top: 20px;
    }
    .b1, .b2{
        height: 9vh;
        width: 30vh;
    }
}

@media (max-width: 400px){
    .preHead{
        font-size: 10px;
        letter-spacing: 1px;
    }
    main h1{
        font-size: 60px;
        line-height: 60px;
    }
    .heroText p{
        font-size: 15px;
    }
    .b1, .b2{
        height: 7vh;
        width: 20vh;
        font-size: 10px;
    }
    main img{
        margin-top: 30px;
    }
}