navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.25)
    }

.pageLinks{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    gap: 10%;
}

navbar p{
    font-family: "Outfit";
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

.pageLinks a{
    font-family: 'Roboto';
    font-size: medium;
    color: black;
    text-decoration: none;
}

@media (max-width: 425px){
    navbar p{
        font-size: 1.5rem;
    }
    .pageLinks a{
        font-size: 1.5rem;
    }
}